@model JobOffer.Models.Applyjob

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_DashboardAdminLayout.cshtml";
}
<div class="page-header" style="margin-left:250px;margin-top:30px">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="m-b-10" style="font-size:20px;font-weight:bold; color:#89ba16">Manage Apply Job</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Dashboard" asp-controller="Admin"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="#!">Details Apply Job</a></li>


                </ul>
            </div>
        </div>
    </div>
</div>

<div style="margin-left:250px">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Attach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Attach.Attachid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Job)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Job.Jobdescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
    </dl>
    <br />
    <a asp-action="EditApplyJob" asp-route-id="@Model.Applyid">Edit</a> |
    <a asp-action="MainApplyJob">Back to List</a>
</div>
<br />
<br />

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


<br />

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />